
@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Animated Headline css start
/*----------------------------------------*/

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    & .app{
        transform: translateY(-10px);
        display: inline-block;
    }
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
    color: var(--tp-theme-primary);
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

  /* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
    display: inline-block;
  }
  .cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  .cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: var(--tp-theme-primary);
  }
  .cd-headline.clip b {
    opacity: 0;
  }
  .cd-headline.clip b.is-visible {
    opacity: 1;
  }