/* Home 1 */
.icon-box span {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 22px;
}
/* Home 1 */

// Home 8
.appTwoReviewSwiper-Controller {
    .swiper-button-prev {
        left: -20px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 14px;
    }
}
// Home 8

// Home 15
.single-speaker {
    background: $white;
}
// Home 15

:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-montserrat);
}

/* Apply Fonts */
body {
  font-family: var(--font-body), sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
  font-weight: 700;
}
