.team-section {
  position: relative;
  isolation: isolate;
  background-color: #121316;
  &::after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 0;
    right: 0;
    background-image: url(/team-section-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}